@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.container {
  padding: 50px 30px;
  background-color: rgba(242, 242, 243, 0.815);
  font-family: Mulish;
}

.rowMain {
  margin: 0;
  padding: 0 30px;
}

.rowMain h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}

.row {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}

.cardMovie {
  padding: 20px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  border: 0.5px solid #dedede;
}

.partImg {
  padding-top: 20px;
}

.partImg img {
  width: 100%;
  border-radius: 4px;
}

.synopsis {
  margin-bottom: 30px;
  padding: 10px;
}

.inputName {
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 20px;
}

.label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  margin: 40px 0;
  display: flex;
  justify-content: flex-end;
}

.btn .buttonReset {
  margin-right: 30px;
}

.buttonReset,
.buttonSubmit {
  font-weight: bold;
  border: #5f2eea solid 2px;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  border-radius: 4px;
  background-color: rgba(242, 242, 243, 0.815);
  padding: 8px 50px;
}

.buttonReset:hover,
.buttonSubmit:hover {
  background-color: #5f2eea;
  color: white;
  border: #5f2eea solid 2px;
}

.row2 {
  font-family: Mulish;
}

.row2 .h2 {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin: auto;
}

.sort {
  background-color: white;
  color: black;
  border: 1px solid #dedede;
  padding: 8px 15px;
}

.sort:hover {
  background-color: #5f2eea;
  border: blueviolet solid 1px;
  color: white;
}

.cards {
  display: flex;
  margin-top: 50px;
  font-family: "Mulish", sans-serif;
  margin: 50px auto;
  overflow-x: scroll;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  font-family: Mulish;
}

.pagination > .active > a {
  background-color: #5f2eea;
  border-color: #5f2eea;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #5f2eea;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 4px !important;
}

.pagination > li > a:hover {
  padding: 7px 12px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5f2eea;
  border-color: #5f2eea;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #5f2eea;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
