.col {
  margin-top: 50px;
  font-family: Mulish;
  background-color: rgba(242, 242, 243, 0.815);
  padding: 0;
}

.paymentMethod {
  margin-top: 30px !important;
  margin: 0;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
}

.googlePay,
.visa,
.gopay,
.paypal,
.dana,
.bca,
.bri,
.ovo {
  border: solid rgb(235, 227, 227) 1px;
  width: 146px;
  height: 56px;
  border-radius: 4px;
  margin: 10px;
  position: relative;
}

.googlePay:hover,
.visa:hover,
.gopay:hover,
.paypal:hover,
.dana:hover,
.bca:hover,
.bri:hover,
.ovo:hover {
  background-color: rgb(221, 187, 255);
  cursor: pointer;
}

.googlePay img,
.visa img,
.gopay img,
.paypal img,
.dana img,
.bca img,
.bri img,
.ovo img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.googlePaySelected,
.visaSelected,
.gopaySelected,
.paypalSelected,
.danaSelected,
.bcaSelected,
.briSelected,
.ovoSelected {
  background-color: #858585;
  border: solid rgb(235, 227, 227) 1px;
  width: 146px;
  height: 56px;
  border-radius: 4px;
  margin: 10px;
  position: relative;
}

.googlePaySelected img,
.visaSelected img,
.gopaySelected img,
.paypalSelected img,
.danaSelected img,
.bcaSelected img,
.briSelected img,
.ovoSelected img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.or {
  font-size: 16px;
  color: #a0a3bd;
  text-align: center;
  margin: 0 auto;
}

.text {
  margin-top: 30px;
}

.textOr {
  margin-top: 30px;
}

.textPurple {
  color: #5f2eea;
}

.button {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: #5f2eea solid 2px;
  padding: 10px 80px;
  background-color: rgba(242, 242, 243, 0.815);
  color: #5f2eea;
  font-weight: bold;
}

.btn:hover {
  background-color: #5f2eea;
  color: white;
  border: #5f2eea solid 2px;
}

.btnPrev {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .btn {
    font-size: 15px;
    padding: 10px 20px;
  }
}
