@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.container {
  background-color: rgb(241, 241, 241);
  padding-bottom: 70px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 70px 0;
}

.col1 img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.col1 {
  border: 2px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 30px;
  width: 270px;
}

.col2 {
  font-family: Mulish;
  padding: 0;
}

.col2 h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
}

.col2 h1 {
  font-size: 18px;
  color: #4e4b66;
  margin-bottom: 40px;
}

.info1,
.info2 {
  display: flex;
}

.info2 {
  margin-top: 20px;
}

.duration,
.releaseDate {
  width: 30%;
}

.directed,
.casts {
  width: 70%;
}

.casts h3 {
  line-height: 20px;
}

.content p {
  font-size: 14px;
  color: #8692a6;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 16px;
  color: #121212;
}

.col2 h5 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.col2 .synopsis {
  font-size: 16px;
  color: #4e4b66;
  line-height: 32px;
}

.showtimes {
  margin-top: 80px;
  text-align: center;
  margin: 100px 0;
}

.dateLocation {
  justify-content: center;
  margin-top: 30px;
}

.location {
  border: rgb(211, 204, 204) solid 1px;
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-left: 30px;
  border-radius: 4px;
  background-color: white;
}

.location img {
  width: 20px;
  height: 20px;
  margin-top: 7px;
  margin-right: 30px;
  margin-left: 15px;
}

.titleLocation a {
  color: black;
}

.cards {
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 730px;
  overflow-y: scroll;
  box-shadow: inset #5f2eea 0px 0px 10px;
}

.cinemaCard {
  background-color: white;
  width: 340px;
  height: 310px;
  padding: 20px;
  font-family: Mulish;
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgb(201, 194, 194);
  margin: 20px 0;
}

.cinema {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.address p {
  font-family: Mulish;
  font-weight: 300;
  font-size: 12px;
  color: #6e7191;
  margin-top: 10px;
  line-height: 18px;
}

.address h2 {
  font-size: 24px;
  font-weight: 600;
}

.cinema img {
  width: 30%;
  margin: auto;
}

.showTime {
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  align-items: center;
}

.time {
  width: 25%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.clickTime {
  background-color: #5f2eea;
  cursor: pointer;
  color: white;
  width: 25%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.time:hover {
  background-color: #5f2eea;
  cursor: pointer;
  color: white;
}

.price {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.buttonBookNow {
  display: flex;
  justify-content: space-between;
}

.bookNow {
  width: 100%;
  background-color: #5f2eea;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
}

.btn-light {
  background-color: black !important;
  color: red;
}
