.rowSeat {
  flex-wrap: nowrap;
}

.colSeat {
  padding: 0 5px;
  margin: auto;
}

.seat {
  width: 30px;
  height: 30px;
  border-radius: 25%;
  margin-bottom: 3px;
}

.seatAvailable {
  background-color: #d6d8e7;
}

.seatSelected {
  background-color: #5f2eea;
}

.seatSold {
  background-color: #6e7191;
}

@media only screen and (max-width: 600px) {
  .seat {
    width: 15px;
    height: 15px;
  }
}
