@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.navbar {
  padding: 20px 100px;
  background-color: white;
  color: #414141;
  font-weight: 600;
  font-family: "Mulish";
  font-size: 16px;
  border-bottom: rgb(235, 229, 229) solid 1px;
}

.navbar a {
  color: #414141;
  text-decoration: none;
}

.navbar a:hover {
  color: black;
}

.linkBrand {
  color: #5f2eea !important;
  margin-right: 30px;
}

.linkBrand a {
  color: blueviolet;
}

.link {
  margin-left: 40px;
}

.inputName {
  border: none;
}

.inputMovieName {
  padding: 0;
  border: rgb(207, 205, 205) solid 1px;
  position: relative;
  border-radius: 4px;
}

.inputSearch {
  padding: 0;
}

.imgSearch {
  margin: 0 10px;
  width: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  transform: rotate(90deg);
}

.imgSearchMovie {
  border-right: rgb(207, 205, 205) solid 1px;
  position: relative;
}

.button {
  margin-left: 40px;
  background-color: #5f2eea;
  color: white;
  padding: 0 50px;
  border: #5f2eea solid 1px;
}

.getMovieSearch {
  background-color: rgb(151, 148, 148);
  margin-left: -100px;
  margin-top: 10px;
  position: absolute;
  border: #5f2eea solid 2px;
  width: 400px;
  z-index: 99;
  height: 200px;
  overflow-y: scroll;
}

.getSearch {
  background-color: white;
  border: #5f2eea solid 1px;
  margin-top: 10px;
}

.getSearch img {
  border: black solid 1px;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    padding: 20px;
  }
  .navLeft,
  .navRight {
    margin: 0;
  }

  .link {
    margin: 0;
    margin-bottom: 10px;
  }

  .imgSearchMovie {
    display: none;
  }

  .inputMovieName {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 20px;
  }

  .navLeft {
    margin: 0;
  }

  .link {
    margin: 0;
    margin-bottom: 10px;
  }

  .imgSearchMovie {
    display: none;
  }

  .location a {
    padding: 0;
    margin-top: 10px;
  }
}

/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
